@charset "UTF-8";

/* Mobile First Version  */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "century gothic", Arial, Helvetica, sans-serif;
  background-color: black;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#container-1 {
  background: url(images/nightcrawler-wallpaper-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
  text-align: center;
  gap: 20px;
  box-shadow: inset 0px -20px 15px rgba(0, 0, 0, 0.699);
}

#container-1 h1 {
  color: rgb(255, 255, 0);
  font-size: 2.1em;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 10px 10px 15px black;
}

#container-1 a {
  text-decoration: none;
  color: black;
  font-size: 1.1em;
  font-family: "century gothic", Arial, Helvetica, sans-serif;
  background-color: rgba(245, 245, 245, 0.76);
  border: 2px solid black;
  padding: 10px;
}

#container-1 a:hover {
  background-color: rgb(0, 0, 0);
  color: yellow;
  border: 2px solid white;
  transition: all 0.3s ease-in-out;
}

#container-2 {
  background-color: black;
  text-align: center;
  padding: 20px;
  color: white;
}

#container-2 h3 {
  color: yellow;
  margin-bottom: 10px;
  font-size: 1.4em;
  text-transform: uppercase;
}

#container-3 {
  background-color: #ffe066;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 20px;
  text-align: center;
}

#container-3 > h3 {
  font-size: 2.2em;
  text-transform: uppercase;
  font-weight: bold;
  align-self: flex-start;
  width: 100%;
}

.actor-cards {
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
  width: 100%;
  max-width: 350px;
  height: 510px;
  overflow: hidden;
  border-radius: 10px;
  border: 2px solid white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.726);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.actor-cards h4 {
  font-size: 1.4em;
}

.actor-cards p {
  padding: 10px;
}

.actor-cards img {
  width: 100%;
  object-fit: cover;
  height: 250px;
}

#container-4 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, minmax(220px, 1fr));
  text-align: center;
  justify-content: center;
  align-items: center;
}

.item {
  padding: 20px;
  height: max-content;
  width: 100%;
  height: 100%;
}

.item h4 {
  font-size: 22px;
  margin: 10px;
}

.item p {
  padding: 10px;
}

.item1 {
  background-color: #364958;
  color: white;
}
.item2 {
  background-color: #587b7f;
}
.item3 {
  background-color: #f8f4f9;
}

footer {
  min-height: 40px;
  padding: 20px;
  width: 100%;
  color: white;
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

footer h4 {
  font-size: 1.3em;
}

footer svg {
  fill: white;
  margin-bottom: -5px;
}

footer a:first-child {
  font-size: 1.4em;
  font-weight: bolder;
}

footer a {
  color: white;
  text-decoration: 2px underline transparent;
  text-underline-offset: 8px;
}

footer a:hover {
  text-decoration: 2px underline #ffe066;
  color: #ffe066;
  transition: all 0.5s ease;
}

footer a:hover svg {
  fill: #ffe066;
  transition: all 0.5s ease;
}

@media screen and (min-width: 600px) {
  #container-1 > h1 {
    font-size: 3.5em;
  }

  #container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 350px;
  }

  #container-4 {
    grid-template-rows: minmax(200px, auto);
  }

  footer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  footer h4 {
    width: 100%;
    text-align: center;
    align-self: flex-start;
    font-size: 2em;
  }

  footer a {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 1024px) {
  #container-1 > h1 {
    font-size: 5.5em;
  }

  #container-1 a {
    font-size: 2.1em;
  }

  #container-2 h3 {
    font-size: 2.5em;
  }

  #container-2 p {
    font-size: 1.3em;
  }

  #container-3 h3 {
    font-size: 2.5em;
  }

  .actor-cards {
    max-width: 450px;
    height: 610px;
  }

  .actor-cards h4 {
    font-size: 1.8em;
  }

  .actor-cards p {
    padding: 10px;
    font-size: 19px;
  }

  .actor-cards img {
    height: 350px;
  }

  #container-4 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: minmax(250px, auto);
    grid-template-areas:
      "item1 item1"
      "item2 item3";
  }

  .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .item h4 {
    font-size: 1.9em;
  }

  .item p {
    font-size: 1.3em;
  }

  .item1 {
    grid-area: item1;
  }
  .item2 {
    grid-area: item2;
  }
  .item3 {
    grid-area: item3;
  }

  footer {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 45px;
  }

  footer p {
    font-size: 1em;
  }
}

@media screen and (min-width: 1800px) {
  #container-1 {
    height: 100vh;
  }

  #container-2 {
    height: 40vh;
  }

  #container-2 p {
    width: 700px;
  }

  #container-4 {
    height: 600px;
  }
}
